<header>
    <h1>{{title}}</h1>
    <a href="/">Employee Details</a>
    <a href="/company-page">Company Names</a>
    <a href="/company-employees-page">Company Employee Names</a>
    <a href="/employee/sign-up-page">signup</a>
    <a href="/employee/login-page">login</a>
    <a href="/employee/add-employment-history-page">Add employement History</a>
    <a href="/employee/get-employment-history-page">Get employement History</a>
</header>