<!DOCTYPE html>

<html>

<head>
    <title>Employee History Tracking App</title>
</head>

<body>

    <div class="header">
        {{>header}}
    </div>

    <form>
        <input placeholder="CompanyName">
        <button>Show All Employees in a Companies Name</button>
    </form>


    <p id="message-1"></p>
    <p id="message-2"></p>


    <div class="footer">
        {{>footer}}
    </div>
    <script src="/client-side-js/company-employees.js"></script>
</body>

</html>