<!DOCTYPE html>

<html>

<head>
    <title>Employee History Tracking App</title>
</head>

<body>

    <div class="header">
        {{>header}}
    </div>


    <form>
        <button>Show All Companies Name</button>
    </form>


    <p id="message-1"></p>
    <p id="message-2"></p>


    <div class="footer">
        {{>footer}}
    </div>
    <script src="/client-side-js/company.js"></script>
</body>

</html>