<!DOCTYPE html>

<html>

<head>
    <title>Employee History Tracking App</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form action="/employee/employment-history">
            Company Name:<br>
            <input type="text" name="companyName">
            <br>
            Status(provide one (joined/left) ):<br>
            <input type="type" name="status">
            <br><br>
            <input type="submit" value="Add">
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>


    </div>

    {{>footer}}

    <script src="/client-side-js/employment-history.js"></script>
</body>

</html>