<!DOCTYPE html>

<html>

<head>
    <title>Employee History Tracking App</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>